header > nav {
    background-color: #6610f2;
}

footer {
    background-color: #520ec1;
    color: #ebebeb;
}

/* #welcome {
    min-height: 20rem;
} */

.mainheader {
	border-bottom: 1px solid grey;
	margin-bottom: 0.5em;
}

.portrait {
    max-height: 10em;
    max-width: 10em;
    object-fit: scale-down;
}

.round-button-links > * {
    padding: 8px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.round-button-link > *:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #55ACEE;
    color: white;
}
  