.projects > div.card {
    /* override bootstrap row > * padding css */
    padding: 0;
}

/* .projects > div.card > div.card-main {
    height: auto;
} */

.projects > div.card > div.card-main > img.card-img {
    object-fit: scale-down;
}

/* bootstrap md breakpoint
screen size or bigger */
@media (min-width: 768px) { 

    .projects > div.card > div.card-main {
        display: flex;
        column-gap: 1rem;
        /* overflow: hidden; */
    }
    
    .projects > div.card > div.card-main > img.card-img {
        /* top-left top-right bottom-right bottom-left */
        border-radius: 5px 0 0 5px;
        /* dont know why flex-basis isnt overriding bootstrap's .card-img width 100% */
        max-width: 45%;
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .projects > div.card > div.card-main > img.card-body {
        flex-shrink: 0;
        min-width: min-content;
        flex-basis: fit-content;
        flex-grow: 1;
    }
} 

/* screen size or smaller */
@media (max-width: 767.98px) {
    .projects > div.card > div.card-main > img.card-img {
        max-height: 50%;
        /* top-left top-right bottom-right bottom-left */
        border-radius: 5px 5px 0 0;
    }
}